@font-face {
    font-family: 'ShangheiXi';
    src: url('font/ZaoZiGongFangShangHeiXiTi-1.otf');
}

@font-face {
    font-family: 'ShangheiCu';
    src: url('font/ZaoZiGongFangShangHeiCuTi-1.otf');
}

* {
    cursor: url('normal.png'), auto;
}

body {
    font-family: ShangheiXi, sans-serif;
    font-size: 16pt;
    line-height: 24pt;
    padding-top: 20px;
    background-color: white;
}

body::-webkit-scrollbar {
	width: 1%;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px transparent;
  }
   
  body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 236, 216);
	outline: 1px solid transparent;
  }



/*type*/

p {
    margin-top: 8px;
    margin-left: 10%;
}

h1 {
    font-family: ShangheiXi, sans-serif;
    font-size: 30pt;
    line-height: 40pt;
    margin: 0;
    padding: 0;
    color: rgb(110, 236, 0);
}

h1:hover {
    color:rgb(0, 236, 216);
}

h2 {
    font-family: ShangheiXi, sans-serif;
    font-size: 24pt;
    line-height: 30pt;
    margin-left: 5%;
    padding: 0;
    color: rgb(0, 236, 216);
}

h3 {
    font-family: ShangheiCu, sans-serif;
    font-size: 120pt;
    line-height: 100pt;
    margin: -4;
    padding-left: 2%;
    color: rgb(110, 236, 0);
}

h4::after {
    content: "|";
    animation: blink-caret .6s step-end infinite;
}

@keyframes blink-caret {
from, to { color: transparent }
50% { color: rgb(41,41,41) }
}

a, code {
    color:rgb(110, 236, 0);
    margin-left: 4px;
    margin-right: 4px;
    cursor: url('point.png'), auto;
}

a:hover, code:hover {
    color:rgb(0, 236, 216);
}

button {
    font-family: ShangheiXi, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16pt;
    line-height: 20pt;
    border: none;
    background-color: transparent;
    color:rgb(110, 236, 0);
    padding: 0;
    text-decoration: underline;
    outline: none;
    cursor: url('point.png'), auto;
    margin-left: -0.5px;
  }

button:hover {
    color: rgb(0, 236, 216);
}

code {
    font-family: ShangheiXi, sans-serif;
    color:rgb(110, 236, 0);
}

.a1 {
    color: black;
    margin-left: 0;
}

.a1:hover {
    color:rgb(0, 236, 216);
}



/*random css*/

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    width:30px;
    height:20px;
    }

.container:after {
	content: "";
	display: table;
	clear: both;
}

.column {
    float:left;
}

.left {
    width: 18%;
}

.middle {
    width: 52%;
}

.right {
    width: 28%;
    padding-left: 2%;
}



/*segments*/

#bf2, #setup, #setuptc, #create, #createtc, #document, #documenttc, .htmldoc, #htmldoctc, .upload, #uploadtc {
    display: none;
}

#inspect, #createfile {
    color:rgb(110, 236, 0);
    margin-left: 4px;
    margin-right: 4px;
}

#inspect:hover, #createfile:hover {
    color:rgb(0, 236, 216);
}

#inspectpic, #createfilepic {
    display: none;
    width:500px;
    position: fixed;
    margin-left: 32%;
    margin-top: -32px;
}

#bf1 {
    width: 16vw;
    height: 16vw;
    background: url("pic/bf1.png") no-repeat;
    background-size: cover;
    display: inline-block;
}

#bf1:hover {
    background: url("pic/bf2.png") no-repeat;
    background-size: cover;
}